<h1>Comments</h1>

<table>
  

<% for message in @messages %>
  <tr>
	<td valign="top"><p class="preElement"><%=h message.owner.email %> says <br/> <%= word_wrap message.content, 40 %></p></td>
	
	<% if is_owner(message,current_user) %>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    	<%= f.text_area :content,:rows=>4 %>
  </p>
 
  <p>
    <%= f.submit "Add comment" %>
  </p>

<br/>
<% end %>
