<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Messages: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'style' %>
</head>
<body>

	<div id="wrapper">
		<div id="top">
		</div>


		<div id="content">

			<div id="header">
				Token based authentication
			</div>

			<div id="menu">
				<% if user_logged_in? %>
				<p>You are logged in with email <%= current_user.email %></p>
				<p>The application will remember you even if you close the browser. If you are sharing this computer please click logout below after you are done.</p>
				<%= link_to 'Logout', logout_url %>
				<% end %>	
			</div>


			<div id="stuff">

				<p style="color: green"><%= flash[:notice] %></p>

				



				<%= yield  %>
			</div>
		</div>

		<div id="bottom">

		</div>




	</div>
</body>
</html>
